{% extends "base.html" %}
{% block header_title %}Add new Book{% endblock %}
{% block back_button %}
  <a href="{% url 'books:book_list' %}" class="button">Back to Books</a>
{% endblock %}
{% block book_list_button %}
    <a href="{% url 'books:book_list' %}" class="button">List of Books</a>
{% endblock %}
{% block author_list_button %}
    <a href="{% url 'books:author_list' %}" class="button">List of Authors</a>
{% endblock %}
{% block title %}Add new Book{% endblock %}
{% block content %}
  <form action="{% url 'books:add-book' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit" class="button ">Add Book</button>
  </form>
{% endblock %}
