{% extends "base.html" %}
{% block back_button %}
    <a href="{% url 'books:home' %}" class="button">Back to Home</a>
{% endblock %}
{% block search_button %}
    <a href="{% url 'books:search' %}" class="button">Search</a>
{% endblock %}
{% block book_list_button %}
    <a href="{% url 'books:book_list' %}" class="button">List of Books</a>
{% endblock %}
{% block title %}List of all Authors{% endblock %}
{% block content %}
    <br>
    <table>
        <thead>
            <tr>
                <th>Author Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>
                        <a href="{% url 'books:books_of_author' author_name=author.author country=author.author_country %}">{{ author.author }}</a>
                    </td>
                    <td>{{ author.author_country }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
