{% extends "base.html" %}
{% block back_button %}
    <a href="{% url 'books:home' %}" class="button">Back to Home</a>
{% endblock %}
{% block title %}List of all Authors{% endblock %}
{% block content %}
    <br>
    <table>
        <thead>
            <tr>
                <th>Author Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>
                        <a href="{% url 'books:edit-author' author.id %}">{{ author.author }}</a>
                    </td>
                    <td>{{ author.author_country }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
