{% extends "base.html" %}
{% block header_title %}List of all Books{% endblock %}
{% block back_button %}
    <a href="{% url 'books:home' %}" class="button">Back to Home</a>
{% endblock %}
{% block author_list_button %}
    <a href="{% url 'books:author_list' %}" class="button">Authors_list</a>
{% endblock %}
{% block search_button %}
    <a href="{% url 'books:search' %}" class="button">Search</a>
{% endblock %}
{% block title %}List of all Books{% endblock %}
{% block content %}
    <form action="{% url 'books:add-book' %}" method="get">
        <br>
        <button type="submit" class="button">Add New Book</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Country</th>
                <th>Genre</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <a href="{% url 'books:edit-book' book.id %}">{{ book.title }}</a>
                    </td>
                    <td>
                        <a href="{% url 'books:books_of_author' author_name=book.author country=book.author_country %}">{{ book.author }}</a>
                    </td>
                    <td>{{ book.author_country }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>{{ book.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
