{% extends "base.html" %}
{% block header_title %}Home Page{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
  <style>
    /* Center the entire content vertically and horizontally */
    .center-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
    }
  </style>

  <h1>Welcome to the Siamak's book manager!</h1>

  <!-- Use the 'center-content' class to center everything -->
  <div class="center-content">

    <form action="{% url 'books:book_list' %}" method="get">
      <button type="submit" class="button">See list of the books</button>
    </form>

    <form action="{% url 'books:author_list' %}" method="get">
      <button type="submit" class="button">See list of the authors</button>
    </form>

    <form action="{% url 'books:add-book' %}" method="get">
      <button type="submit" class="button">Add new book</button>
    </form>

  </div>
{% endblock %}
