{% extends "base.html" %}
{% block header_title %}Search{% endblock %}
{% block back_button %}
    <a href="{% url 'books:home' %}" class="button">Back to Home</a>
{% endblock %}
{% block book_list_button %}
    <a href="{% url 'books:book_list' %}" class="button">List of books</a>
{% endblock %}
{% block title %}Search Books and Authors{% endblock %}
{% block content %}
    <form action="{% url 'books:search' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button search">Search</button>
    </form>
    <form action="{% url 'books:add-book' %}" method="get">
        <br>
        <button type="submit" class="button">Add New Book</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Country</th>
                <th>genre</th>
                <th>Quantity</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        <a href="{% url 'books:edit-book' book.id %}">{{ book.title }}</a>
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.author_country }}</td>
                    <td>{{ book.genre }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>{{ book.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
